#main-wrapper{

min-height: 380px;
}

#wrapper{
  box-shadow: 2px 5px 2px #aaa;
  min-height: 370px;
  border: 2px solid teal;
  padding: 2px;
  background: #ccc;
}
#output{
  padding: 0px;
  width: 100%;
  padding-top: 5px;
 /* height: 25%;*/
  background: transparent;
  border: 0px solid transparent;
  text-align: right;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 1px !important;
}
#output-wrapper{
  background-color: #fff !important;
  padding-right: 1.8%;
  padding-bottom: 1%;
  width:98%;
  height: 25%;
  border: 1px solid teal;
  background: rgba(0,0,0,0.05);
}
#msg{
  padding: 0px;
  margin: 0 0;
  font-size: 23px;
  color: gray;
  text-align: right; 
}

#num, #special, #equal{
  width: 70px;
  padding: 5px;

}
#right-panel{
  float: right
}
aside #num, .delete{
  background: yellow;
  padding: 5px
}
#left-panel{
  float: left;
}
center{
  font-family: cursive;
  font-size: 20px;
}

center h3{
  font-family: serif;
  
  margin-bottom: 5px;
}

.equal{
  
}
.power{
  background: red !important;
}
.Off{
  background: red;
  border: 1px solid teal;
  border-radius: 100%;
  
  padding: 5px;
  float:right;
  margin: 5px;
}
.On{
  background: limegreen !important;
  border: 1px solid teal;
  border-radius: 100%;
  
  padding: 5px;
  float:right;
  margin: 5px;
}