body{
	/*display: -webkit-box;
	-webkit-box-pack: center;*/
	display: flex;
	justify-content: center;
}
#frame {
	background-image: url("C:/Users/user/Documents/IMG_20180413_145922_969.JPG");
	width: 459px;
	height: 533px;
	color: dimgray;
}

h2{
	position: relative;
	top: 25px;
	text-align: center;
	letter-spacing: 3px;
	border: 1px solid purple;
	border-radius: 15px;
	margin: 0px 125px;
	padding: 8px;
	background-color: black;
	color: darkmagenta;


	
}

h3{
	position: relative;
	top: 35px;
	text-align: center;
	border: 1px solid green;
	border-radius: 15px;
	margin: 0px 110px;
	padding: 8px;
	background-color: black;
	color: darkgreen;
	
}

.clock {
	
	position: relative;
	top: 150px;
	text-align: center;
	font-size: 35px;
	letter-spacing: 4px;
	color: aquamarine;
	
}
